* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 10px;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    display: none;
}
a {
    cursor: pointer;
}
a:hover {
    text-decoration: none;
}
:focus {
    outline: none;
}
.page {
    padding-bottom: 1px;
}
.no-list-style {
    list-style: none;
    padding: 0;
    margin: 0;
}
.theme-btn {
    border: 1px solid #3b3f42;
    background: #3c4043;
    font-size: 1.3rem;
    padding: 5px 12px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    border-radius: 2px;
    min-width: 90px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.theme-btn:hover {
    color: #fff;
}
.theme-btn:disabled {
    opacity: .5;
    cursor: not-allowed;
}
.theme-btn.green-btn {
    border: 1px solid #3dad6d;
    background: #3dad6d;
}
.theme-btn + .theme-btn {
    margin-left: 10px;
}
.theme-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
}
.theme-select {
    border: 1px solid rgb(169, 169, 169);
    width: 100%;
    height: 22px;
    font-size: 1.4rem;
}
.main {
    position: relative;
    padding: 30px 15px 10px;
    transition: all 0.3s ease 0s;
}
.table-scroll {
    overflow-y: auto;
}


/*--- Login ---*/
.login-form-div {
    width: 330px;
    margin: 80px auto;
    max-width: 100%;
}
.login-form {
    border: 1px solid #333;
    padding: 25px 30px;
    border-radius: 8px;
}
.login-form-title {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 20px;
}
.login-form-subtitle {
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
}
.login-form .clearfix {
    padding-top: 20px;
}
.login-form label {
    font-size: 1.4rem;
    display: block;
}
.login-form .b-control {
    font-size: 1.4rem;
    width: 100%;
    border: 1px solid #333;
    padding: 3px 8px;
    border-radius: 3px;
}
.login-form .clearfix > p {
    margin: 0;
}
.errorlist {
    list-style: none;
    margin: 5px 0 0;
    font-size: 1.2rem;
    color: red;
}

/*--- Header ---*/
.header-section {
    background-color: #383c40;
    color:#bdc1c7;
    padding: 0 15px;
}
.header-section .logo {
    padding: 10px 0;
    width: 205px;
    border-right: 1px solid #2a2d30;
}
.login-header-section .logo {
    border-right: 0;
}
.header-section .header-bars {
    width: 20px;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: 2px;
    cursor: pointer;
    float: right;
}
.header-section .header-bars > span {
    width: 100%;
    height: 3px;
    margin: 3px 0;
    display: block;
    background: #d4caca;
}
.header-section .logo a {
    width: 120px;
    display: inline-block;
}
.header-section .logo-text {
    font-size: 2.4rem;
    color: #fff;
    padding: 6px 0;
    margin-left: 20px;
}
.header-section .header-links {
    margin: 15px 0 0;
}
.header-section .header-links li {
    margin-left: 15px;
}
.header-section .header-links a {
    color: inherit;
}

/*--- Sidebar ---*/
.sidebar {
    position: absolute;
    width: 220px;
    background: #383c40;
    min-height: calc(100vh - 50px);
    height: 100%;
    top: 0;
    color: #bdc1c7;
    left: -220px;
    transition: all 0.3s ease 0s;
}
.sidebar ul {
    list-style: none;
    border-bottom: 1px solid #51565a;
}
.sidebar > ul > li > a {
    color: inherit;
    display: block;
    padding: 7px 10px;
    /* border-bottom: 1px solid #2a2d30; */
    border-top: 1px solid #51565a;
    border-bottom: 1px solid #292c2f;
    background-image: linear-gradient(to bottom, #3b3f42 0%, #363a3e 100%)
}
.sidebar li ul {
    display: none;
    padding: 5px 0 5px 20px;
    background-color: #313538;
    border-top: 1px solid #51565a;
    border-bottom: 1px solid #292c2f;
}
.sidebar li ul li a {
    color: inherit;
    display: block;
    padding: 5px 10px;
}
.sidebar li .sidebar-arrow {
    float: right;
    margin: 4px 3px 0 0;
    transition: all 0.2s ease 0s;
    font-size: 1.2rem;
    color: #bdc1c7;
}
.sidebar li.sidebar-active .sidebar-arrow {
    transform: rotateZ(-180deg);
}
.sidebar li.sidebar-active > a {
    color: #478e6b;
}
.show-menu .main {
    margin-left: 220px;
}

/*--- Dashboard ---*/
.upload-content .clearfix {
    margin-top: 25px;
}
.upload-content .upload-label {
    float: left;
    width: 250px;
    font-weight: 500;
}
.upload-content .upload-control {
    float: left;
}
.dashboard-btn-container .text-warning {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 10px;
}
.dashboard-table {
    margin-top: 30px;
}
.dashboard-table .btn-link {
	font-size:1.3rem;
	padding: 0;
}
.theme-table td, .theme-table th {
    white-space: nowrap;
    padding: 7px;
    border-color: #f2f2f2;
    font-size: 1.3rem;
}
.theme-table th {
    padding: 10px 7px;
    text-transform: uppercase;
    background-color: #f8f8f8;
    color: #5f5f5f;
}
.theme-table thead th {
    border-bottom-width: 1px;
}
.theme-table td.table-td-wrap {
    white-space: normal;
    min-width: 100px;
    max-width: 135px;
}
.table-scroll h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

/*--- Deal view ---*/
.deal-view-content [class^="col-sm"] {
    margin-top: 15px;
}
.deal-view-content .deal-view-label {
    float: left;
    width: 120px;
    font-weight: 400;
   font-size: 1.3rem;
   line-height: 28px;
}
.deal-view-content .deal-view-control {
    float: left;
    width: 250px;
}
.deal-report-div {
    position: relative;
}
.deal-report-div .ui-datepicker {
    left: 0 !important;
    top: 30px !important;
}
.deal-report-div .ui-datepicker-calendar {
    display: none;
}
.deal-report-div .ui-datepicker button.ui-state-default {
    padding: 3px 10px;
    font-weight: 400;
    opacity: 1;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}
.deal-view-content .btn-container {
    text-align: center;
    margin-top: 25px;
}
.deal-view-result {
    margin-top: 30px;
}
.deal-view-content .deal-view-date {
    border: 1px solid rgb(169, 169, 169);
    width: 100%;
    height: 28px;
    font-size: 1.2rem;
    padding: 0 8px;
    border-radius: 2px;
    color: #444;
}
.theme-select-div {
    position: relative;
}
.select2-container {
    font-size: 1.2rem;
    top: auto !important;
    bottom: 0;
}
.select2-container .select2-selection::after {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    display: block;
    position: absolute;
    right: 8px;
    top: 6px;
    color: #bec2c5;
    font-weight: 900;
    font-size: 1.2rem;
}
.select2-container .select2-selection {
    border-radius: 2px;
}
.select2-container.select2-container--open .select2-selection {
    border: 1px solid #77add4;
}
.select2-container .select2-selection__arrow {
    display: none;
}
.select2-container .select2-dropdown .select2-results__option--highlighted {
    background-color: #dbeaf5 ;
    color: #2b2c2e;
    border-right: 4px solid #77add4;
}
.select2-dropdown .select2-results__option[aria-selected=true] {
    background-color: #f1f7fb;
}
.select2-dropdown {
    border: 1px solid #77add4;
    border-radius: 0;
}
.main-table-scrollable {
    position: relative;
}
.main-table-scrollable .loader {
    position: absolute;
    background: transparent;
    display: block;
}
.hidden-data {
    display: none;
}
.main-table-scrollable .theme-table th {
    min-width: 110px;
}
.main-table-scrollable .theme-table th:nth-child(1) {
    min-width: 90px;
}
.main-table-scrollable .theme-table th:nth-child(4) {
    min-width: 70px;
    max-width: 70px;
}
.main-table-scrollable .theme-table th:nth-child(5) {
    min-width: 90px;
    max-width: 90px;
}
.main-table-scrollable .theme-table th:nth-child(6) {
    min-width: 110px;
    max-width: 110px;
}

/* Summary View */
.summary-align{
    text-align: center;
}
.summary-network{
    text-overflow:ellipsis;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
}
.summary-network:hover{
    text-overflow:clip;
    width:auto;
    white-space: normal;
}
.summary-table-scrollable .theme-table th {
    white-space: normal;
    vertical-align: middle;
    padding: 3px 8px;
}
.summary-table-scrollable .theme-table td {
    vertical-align: middle;
    padding: 3px 8px;
}
.summary-table-scrollable tbody tr:nth-child(4n), .summary-table-scrollable tbody tr:nth-child(4n-1) {
    background: #f3f7f9;
}
.summary-table-scrollable .deal-position-color {
    display: inline-block;
    vertical-align: top;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 1px 8px 0 2px;
}
.summary-table-scrollable .deal-position-color.deal-position-red {
    background: red;
}
.summary-table-scrollable .deal-position-color.deal-position-orange {
    background: orange;
}
.summary-table-scrollable .deal-position-color.deal-position-green {
    background: green;
}
.upload-content .invalid-feedback strong {
    font-weight: 400;
    color: red;
}
.upload-content .error {
    margin: -5px 0 -5px;
    font-size: 1.2rem;
    color: red;
}
.upload-content input[type="file"] {
    opacity: 0;
}
.upload-content .file-btn {
    background: transparent;
    border: 1px solid #333;
    padding: 2px 8px;
    border-radius: 3px;
    font-size: 1.3rem;
    cursor: pointer;
    background: #eee;
}
.upload-content .file-input-text {
    display: inline-block;
    margin-left: 7px;
}


@media (min-width: 768px) and (max-width: 1200px) {
    html {
        font-size: 9px;
    }
}
@media (max-width: 767px) {
    html {
        font-size: 8px;
    }
    .upload-content .clearfix {
        margin-top: 15px;
    }
    .deal-view-content [class^="col-sm"] {
        margin-top: 15px;
    }
    .upload-content .theme-btn {
        margin-left: 0;
        margin-top: 0;
    }
    .header-section .logo {
        border-right: 0;
        width: auto;
    }
    .header-section .header-bars {
        float: left;
    }
    .header-section .logo-text {
        float: right !important;
        padding: 6px 0 0;
    }
    .header-section .header-links {
        margin: 0 0 5px;
    }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    display: none;
    z-index: 999;
}
.spinner {
    display: inline-block;
    position: absolute;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -32px;
    animation: spinner 2s linear infinite;
  }
  .spinner div {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #333;
    border-radius: 50%;
  }
  .spinner div:nth-child(1) {
    top: 29px;
    left: 53px;
  }
  .spinner div:nth-child(2) {
    top: 18px;
    left: 50px;
  }
  .spinner div:nth-child(3) {
    top: 9px;
    left: 41px;
  }
  .spinner div:nth-child(4) {
    top: 6px;
    left: 29px;
  }
  .spinner div:nth-child(5) {
    top: 9px;
    left: 18px;
  }
  .spinner div:nth-child(6) {
    top: 18px;
    left: 9px;
  }
  .spinner div:nth-child(7) {
    top: 29px;
    left: 6px;
  }
  .spinner div:nth-child(8) {
    top: 41px;
    left: 9px;
  }
  .spinner div:nth-child(9) {
    top: 50px;
    left: 18px;
  }
  .spinner div:nth-child(10) {
    top: 53px;
    left: 29px;
  }
  .spinner div:nth-child(11) {
    top: 50px;
    left: 41px;
  }
  .spinner div:nth-child(12) {
    top: 41px;
    left: 50px;
  }
  @keyframes spinner {
    to {transform: rotate(360deg);
  }
}

/*--- Error page ---*/
.error-page-div {
    margin: 100px 0;
    text-align: center;
}
.error-page-div h2 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0 0 20px;
}
.error-page-div p {
    font-size: 1.8rem;
    margin: 0;
}

/* Summary View */
.summary-align{
    text-align: center;
}
.summary-network{
    text-overflow:ellipsis;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
}
.summary-network:hover{
    text-overflow:clip;
    width:auto;
    white-space: normal;
}
.summary-table-scrollable .deal-position-color {
    display: inline-block;
    vertical-align: top;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 1px 8px 0 2px;
}
.summary-table-scrollable .deal-position-color.deal-position-red {
    background: red;
}
.summary-table-scrollable .deal-position-color.deal-position-orange {
    background: orange;
}
.summary-table-scrollable .deal-position-color.deal-position-green {
    background: green;
}
.summary-table-scrollable.table__wrap-filter .table__row .table__cell {
    position: static;
}
.summary-table-scrollable.table__wrap-filter .popup-b-filters[data-index='0'] {
    left: 0 !important;
}
.summary-view-result {
    position: relative;
}
.summary-table-scrollable {
    min-height: 350px;
}

.text_wrapper{
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  width: 100px;

}







/*--  Table  --*/
.business-deals .table__wrap{
    overflow: auto;
    min-height: 395px;
}
.business-deals .theme-table {
    margin: 0;
}
.business-deals .theme-table td, .business-deals .theme-table th {
    padding: 2px 5px;
    font-size: 1.1rem;
    border-color: #ddd;
}
.business-deals .result-top-header th {
    height: 35px;
    vertical-align: middle;
}
.table__top .table__pagination {
    line-height: 30px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.table__top .table__top-part {
    margin-left: 15px;
}
.table__top-part .table__pagination-current-n {
    width: 40px;
    margin: 0 5px;
    border-radius: 2px;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
}
.table__top .table__pagination-block {
    display: inline-block;
    width: 40px;
    text-align: center;
}
.table__top .table__pagination-block-input {
    display: inline-block;
    width: 40px;
    text-align: center;
    padding: 0;
    margin: 0 5px;
    border-radius: 2px;
    border: 1px solid #ebebeb;
}
.table__top a.table__pagination-link {
    width: 20px;
}
.table__top a.table__pagination-link_inactive {
    pointer-events: none;
    color: #cacdd0;
}
.table__cell a.table__filters-icon {
    opacity: 0;
}
.table__row-head .table__cell:hover a.table__filters-icon,
.table__row-head .table__filters-icon.table__filters-icon_active,
.table__cell_sortA a.table__filters-icon,
.table__cell_sortZ a.table__filters-icon {
    opacity: 1;
}
.table__wrap-filter .popup-b-filters {
    position: absolute;
    top: auto;
    left: 0;
    z-index: 100;
    width: 214px;
    min-height: 160px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 4px 20px 0px rgba(0,0,0,0.16);
    font-weight: 400;
    font-size: 1.1rem;
    line-height: normal;
    display: none;
    text-transform: none;
}
.table__wrap-filter .table__filters-icon_open + .popup-b-filters {
    display: block;
}
.table__wrap-filter a.table__filters-icon_active {
    color: #77add4;
}
.table__wrap-filter .table__row .table__cell {
    position: relative;
    white-space: normal;
    vertical-align: middle;
}
.table__wrap-filter .table__row .table__cell_icon {
    white-space: nowrap;    
}
.popup-b-filters__search-block {
    padding: 10px 8px 0;
    background: #f8f8f8;
}

.popup-b-filters .popup-b-filters__top {
    text-align: center;
}
.popup-b-filters a.popup-b-filters__sort {
    display: inline-block;
    width: 45%;
    padding: 7px;
}
.popup-b-filters a.popup-b-filters__sort + a {
    border-left: 1px solid #ebebeb;
}
.popup-b-filters a.popup-b-filters__sort i {
    margin-right: 8px;
}
.popup-b-filters__input {
    padding-left: 28px;
    height: 26px;
    width: 100%;
    font-size: 1.1rem;
    line-height: 30px;
}
.popup-b-filters__input-wrap {
    position: relative;
    display: block;
}
.popup-b-filters__input-wrap:before {
    font-family: "Font Awesome 5 Free";
    content: "\f002";
    color: #a8aaa7;
    position: absolute;
    top: 6px;
    left: 7px;
    font-size: 1.4rem;
    z-index: 2;
    font-weight: 900;
}
.popup-b-filters .popup-b-filters__checkbox-control {
    display: inline-block;
    width: 44%;
    padding: 8px 5px;
    text-transform: uppercase;
    text-align: center;
}
.popup-b-filters__search-results .checkbox__wrap {
    display: block;
}
.popup-b-filters__search-results .checkbox__wrap:after {
    content: '';
    display: table;
    clear: both;
}
.popup-b-filters__search-results .checkbox__wrap .checkbox {
    float: left;
    width: 15px;
}
.popup-b-filters__search-results .checkbox__wrap .checkbox__text {
    float: left;
    width: calc(100% - 20px);
    margin-left: 5px;
}
.popup-b-filters__search-results {
    position: relative;
    max-height: 180px;
    margin: 8px;
    overflow: auto;
}
.popup-b-filters__search-results-head {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 0;
    background: #f8f8f8;
    border-bottom: 1px solid #ebebeb;
}
.popup-b-filters a.popup-b-filters__btn {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    width: 72px;
    border-radius: 2px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    transition: background-color 0.2s ease-in;
}
.popup-b-filters__btn-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 8px 12px;
}
.popup-b-filters a.popup-b-filters__btn-save {
    background-color: #3dad6d;
}
.popup-b-filters a.popup-b-filters__btn-save:hover {
    background-color: rgba(61,173,109,0.8);
    text-decoration: none;
    color: #fff;
}
.popup-b-filters a.popup-b-filters__btn-cancel {
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid rgba(61,173,109,0.8);
    color: rgba(61,173,109,0.8);
    text-decoration: none !important;
}
.popup-b-filters a.popup-b-filters__btn-cancel:hover {
    color: #3dad6d;
    border-color: #3dad6d;
}


.ll-preloader {
    left: 0;
    right: 0;
    height: 100px;
    display: none;
    position: absolute;
    bottom: 0;
    z-index: 10;
  }
  .preloader3 {
    position: absolute;
    z-index: 12;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.5);
  }
  .preloader3__loader {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .preloader3__figure {
    height: 0;
    width: 0;
    display: block;
    border: 0 solid #68cc9a;
    border-radius: 50%;
    animation: preloader3 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  @keyframes preloader3 {
    0% {
      height: 0;
      width: 0;
      background-color: #95e2cf;
    }
    29% {
      background-color: #95e2cf;
    }
    30% {
      height: 30px;
      width: 30px;
      background-color: transparent;
      border-width: 15px;
      opacity: 1;
    }
    100% {
      height: 30px;
      width: 30px;
      border-width: 0;
      opacity: 0;
      background-color: transparent;
    }
  }
  @-webkit-keyframes preloader3 {
    0% {
      height: 0;
      width: 0;
      background-color: #95e2cf;
    }
    29% {
      background-color: #95e2cf;
    }
    30% {
      height: 30px;
      width: 30px;
      background-color: transparent;
      border-width: 15px;
      opacity: 1;
    }
    100% {
      height: 30px;
      width: 30px;
      border-width: 0;
      opacity: 0;
      background-color: transparent;
    }
  }
.placeholder_table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 308px;
    width: 100%;
    padding: 0 30px;
}
.placeholder_table .placeholder__text {
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-weight: 500;
}